@using WebApplication1.Models
@using WebApplication1.Models.FeedReader
@{
    ViewBag.Title = "Home Page";
}

<table>
    <tr>
    <td style="vertical-align: top;">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <p>
                Enter rss sources separated by comma:
            </p>
            @Html.TextBox("urlsLine", "")
            <p>
                Enter email addresses separated by comma:
            </p>
            @Html.TextBox("emailsLine", "")
            <p>
                Enter keywords separated by comma:
            </p>
            @Html.TextBox("keywordsLine", "")
            <p>
                <input type="submit" value="Start emailing"/>
            </p>
        }
    </td>
    <td>
        <table>
            @foreach (IFeedItem feedItem in ViewBag.feedItems)
            {
                <tr>
                    <td>
                        <h3>
                            @Html.Raw(@feedItem.title)
                        </h3>
                        <br/>
                        @* <a> *@
                        @*     @Html.Raw(@feedItem.source) *@
                        @* </a> *@
                        <br/>
                        <p>
                            @Html.Raw(@feedItem.summary)
                        </p>
                    </td>
                </tr>
            }

        </table>
    </td>
    </tr>
</table>
